<div class="relative bg-gray-100">
  <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
    <a href="/" class="flex items-center">
        <h1 class="sm:text-l lg:text-2xl font-bold text-gray-900">You Got This Talk Reviews</h1>
    </a>
    <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
      <span class="inline-flex rounded-md shadow-sm">
        <a href="https://yougotthis.io/talks" class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink active:bg-pink-700 transition ease-in-out duration-150">Existing Talks</a>
      </span>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
