<div class="flex flex-col px-6 max-w-screen-full my-10 mx-auto" v-if="talks">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block sm:px-6 lg:px-8 w-full">
      <div class="shadow border border-gray-200 rounded-lg">
        <table class="divide-y divide-gray-200 w-full">
          <thead>
            <tr>
              <th class="p-2 text-sm bg-gray-50 text-left text-sm leading-4 font-medium text-gray-800 uppercase tracking-wider">Title</th>
              <th class="p-2 text-sm bg-gray-50 text-left text-sm leading-4 font-medium text-gray-800 uppercase tracking-wider">Score</th>
              <th class="p-2  bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="talk in talks">
              <td class="p-2 text-md align-text-top leading-5 text-gray-800">{ยง talk.fields['Talk Title'] ยง}</td>
              <td class="p-2 text-md align-text-top leading-5 text-gray-800" v-if="talk.fields[reviewer + ' Score']">{ยง talk.fields[reviewer + ' Score'] ยง}</td>
              <td class="p-2 text-md align-text-top leading-5 text-gray-800" v-else>N/A</td>
              <td class="p-2 text-md align-text-top text-right leading-5 font-medium">
                <a :href="`/review?id=${talk.fields['ID']}&reviewer=${reviewer}`" class="text-pink-600 hover:text-pink-900">Review</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
