---
layout: base
permalink: list/
---
{% include header %}

<div id="app">
    {% include select-reviewer %}
    {% include talk-list %}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="/assets/js/list.js"></script>
